
$brand-primary:         #E91D2C;
$primary:               #E91D2C; 
$black:                 #1A1A1A;
$withe:                 #ffffff;

$btn-primary-bg:                $brand-primary !default;
$btn-border-radius:             0px !default;
$input-bg:                      transparent;
$input-border-radius:           0px !default;
$input-border-width:            0px !default;
$navbar-light-color:            #575756;
$navbar-light-hover-color:      $brand-primary;

$nav-tabs-link-active-color:    #262525; 
$nav-link-color:                #262525;
$nav-tabs-border-width:         0px;
$nav-link-padding-x:            3rem;
$nav-link-font-size:            16px;

$accordion-button-active-bg:    transparent;
$accordion-color:               #262525;
$accordion-button-active-color: #262525;

$modal-header-border-width:   0px;
$modal-footer-border-width:   0px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/utilities/api";

* {
    box-sizing: border-box;
    outline: none;
}

body {
  font-family: $font-family-base;
  font-size: $font-s-base;
  color: $text-color;
  background-color: $body-bg;
}

.h-min-600{
  min-height: 600px;
}

.home {
  &--hero{
    color: $white;
    background-image: url('../img/bg_banner_home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    &-form{
      .form-control{
        border-width: 0px;
        border-bottom-width: 1px;
      }
    }
    h1{
      color: $white;
      font-size: 56px;
    }
  }
}

.logos-md {
  img {
    max-height: 60px
  }
}
.banner-alert{
  background: #F2F2F2;
}

.nav-tabs{
  .nav-link{
    border-bottom: 2px solid #97999B;
  }
  .active {
    border-bottom: 2px solid #97999B;
  }
}

.nav-tabs .nav-link.active{
  border-color: $brand-primary; 
}

.block-list {
  @extend .my-3;
  list-style-type: none;
  .block-item{
    max-width: 400px;
    @extend .py-3;
    @extend .my-3;
    @extend .border;
    margin: 0 auto;
    a {
      color: #575756;
    }
  }
}

footer {
  background: $black;
  color: $gray-lighter;
  .nav {
    .label{
      display: block; 
    }
    .nav-link {
      color: $gray-lighter;
    }
  }
  .link-email {
    padding-left: 1rem; 
    color: $gray-lighter;
  }
  .divider {
    border-top: $gray-lighter 1px solid;
  }

}
